In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Superstore.csv')

In [11]:
group = pd.DataFrame(df.groupby(df['Category'])['Quantity'].sum())
group.reset_index(inplace=True)
group

          Category  Quantity
0        Furniture      8028
1  Office Supplies     22906
2       Technology      6939